{% extends 'layouts/application.html' %}
{% block content %}

  <main class="carousel">
    {% for page in pages %}
      {% if page.typeMain %}

        {% set image = '<img class="page__img" src="images/' + page.imageSrc + '" alt="' + page.imageAlt + '" width="' + page.imageWidth + '">' %}
        <section id="{{ page.id }}" class="page page--main">
          {% if page.imageFirst %}
            {{ image | safe }}
            <p class="page__text">{{ page.text | safe }}</p>
          {% else %}
            <p class="page__text">{{ page.text | safe }}</p>
            {{ image | safe }}
          {% endif %}
        </section>

      {% elseif page.typeHome %}

        {% set imageTop = '<img class="header__img-top" src="images/' + page.imageTopSrc + '" alt="' + page.imageTopAlt + '" width="' + page.imageTopWidth + '">' %}
        {% set imageBottom = '<img class="header__img-bottom" src="images/' + page.imageBottomSrc + '" alt="' + page.imageBottomAlt + '" width="' + page.imageBottomWidth + '">' %}

        <section id="{{ page.id }}" class="page header is-active">
          {{ imageTop | safe }}
          {{ imageBottom | safe }}
        </section>

      {% elseif page.typeIntro %}

        <section id="{{ page.id }}" class="page">
          <div class="{{ page.classes }}">{{ page.text | safe }}</div>
        </section>

      {% elseif page.typeSingleText %}

        <section id="{{ page.id }}" class="page {{ page.classes }}">
          <div class="page__text">{{ page.text | safe }}</div>
        </section>

      {% elseif page.typeSingleImage %}

        <section id="{{ page.id }}" class="page {{ page.classes }}">
          <img src="images/{{ page.imageSrc }}" alt="{{ page.imageAlt }}" width="{{ page.imageWidth }}">
        </section>

      {% endif %}
    {% endfor %}
  </main>

{% endblock %}
