{% extends 'layouts/application.html' %}
{% block content %}

  {% for page in pages %}

    {% if page.typeMain %}

      {% set image = '<img src="images/' + page.imageSrc + '" alt="' + page.imageAlt + '" width="' + page.imageWidth + '">' %}
      <section class="page page--main">
        {% if page.imageFirst %}
          {{ image | safe }}
          <p>{{ page.text | safe }}</p>
        {% else %}
          <p>{{ page.text | safe }}</p>
          {{ image | safe }}
        {% endif %}
      </section>

    {% elseif page.typeHome %}

      {% set imageTop = '<img src="images/' + page.imageTopSrc + '" alt="' + page.imageTopAlt + '" width="' + page.imageTopWidth + '">' %}
      {% set imageBottom = '<img src="images/' + page.imageBottomSrc + '" alt="' + page.imageBottomAlt + '" width="' + page.imageBottomWidth + '">' %}
      <section class="page page--home">
        {{ imageTop | safe }}
        {{ imageBottom | safe }}
      </section>

    {% elseif page.typeIntro %}

      <section class="page {{ page.classes }}">
        <div>{{ page.text | safe }}</div>
      </section>

    {% elseif page.typeSingleText %}

      <section class="page {{ page.classes }}">
        <div>{{ page.text | safe }}</div>
      </section>

    {% elseif page.typeSingleImage %}

      <section class="page {{ page.classes }}">
        <img src="images/{{ page.imageSrc }}" alt="{{ page.imageAlt }}" width="{{ page.imageWidth }}">
      </section>

    {% endif %}

  {% endfor %}

{% endblock %}
