{% extends 'layouts/application.html' %}
{% block content %}

  <main class="main">
    <div class="carousel js-carousel">
      {% for page in pages %}
        {% if page.typeMain %}

          {% if page.imageFirst %}
            {% set imgLoadClass = ' load load-1' %}
          {% else %}
            {% set imgLoadClass = ' load load-2' %}
          {% endif %}
          {% set image = '<div class="page__img-container' + imgLoadClass + '"><img class="page__img" src="images/' + page.imageSrc + '" alt="' + page.imageAlt + '" width="' + page.imageWidth + '"></div>' %}
          <section id="{{ page.id }}" class="page page--main js-page">
            {% if page.imageFirst %}
              {{ image | safe }}
              <p class="page__text load load-2">{{ page.text | safe }}</p>
            {% else %}
              <p class="page__text load load-1">{{ page.text | safe }}</p>
              {{ image | safe }}
            {% endif %}
          </section>

        {% elseif page.typeHome %}

          {% set imageTop = '<div class="page__img-container load load-1"><img class="header__img-top" src="images/' + page.imageTopSrc + '" alt="' + page.imageTopAlt + '" width="' + page.imageTopWidth + '"></div>' %}
          {% set imageBottom = '<div class="page__img-container load load-2"><img class="header__img-bottom" src="images/' + page.imageBottomSrc + '" alt="' + page.imageBottomAlt + '" width="' + page.imageBottomWidth + '"></div>' %}

          <section id="{{ page.id }}" class="page header js-page">
            {{ imageTop | safe }}
            {{ imageBottom | safe }}
          </section>

        {% elseif page.typeIntro %}

          <section id="{{ page.id }}" class="page js-page">
            <div class="{{ page.classes }} load load-1">{{ page.text | safe }}</div>
          </section>

        {% elseif page.typeSingleText %}

          <section id="{{ page.id }}" class="page {{ page.classes }} js-page">
            <div class="page__text load load-1">{{ page.text | safe }}</div>
          </section>

        {% elseif page.typeSingleImage %}

          <section id="{{ page.id }}" class="page {{ page.classes }} js-page">
            <div class="page__img-container load load-1"><img class="page__img" src="images/{{ page.imageSrc }}" alt="{{ page.imageAlt }}" width="{{ page.imageWidth }}"></div>
          </section>

        {% endif %}
      {% endfor %}
    </div>
    <button class="nav nav--prev js-prev-page">Prev</button>
    <button class="nav nav--next js-next-page">Next</button>

    <nav class="menu js-menu">
      <ul class="menu__list">
        {% for page in pages %}
          <li class="menu__item">
            <a class="menu__link js-menu-link" href="#{{ page.id }}" data-id="{{ page.id }}"></a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </main>

{% endblock %}
