.menu {
  position: fixed;
  top: 0;
  right: em(20);
  bottom: 0;
  display: flex;

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__link {
    display: block;
    padding: em(6);
    transition: transform 0.2s ease;

    &:hover,
    &:focus,
    &:active {
      transform: scale(1.3);
    }
  }

  &__img {
    display: block;
    width: em(20);
  }
}