.menu {
  position: fixed;
  top: 0;
  left: 1%;
  bottom: 0;
  display: none;

  .js & {
    display: flex;
    opacity: 0;
    transition: opacity 0.5s ease;
  }

  &.is-active {
    opacity: 1;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    @for $i from 1 through 10 {
      &:nth-child(#{$i}n) {
        .menu__link { background-image: url(../images/dots/dot-#{$i}.svg); }
      }
    }
  }

  &__link {
    display: block;
    width: em(60);
    height: em(24);
    background: {
      repeat: no-repeat;
      position: center;
      size: em(12);
    }
    opacity: 0.5;
    transition: all 0.2s ease;

    &:focus {
      outline: none;
    }

    &:hover,
    &:focus,
    &:active,
    &.is-active {
      opacity: 1;
      transform: translateX(0.3em) scale(1.3);
    }
  }
}