.nav {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 50%;
  overflow: hidden;
  background: none;
  border: none;
  outline: none;
  white-space: nowrap;
  text-indent: 110%;
  cursor: pointer;

  &:hover,
  &:active,
  &:focus,
  &:visited {
    outline: none;
    background: none;
    border: none;
    box-shadow: none;
  }

  &--prev {
    left: 0;

    &:hover { cursor: url(../images/arrows/arrow-left-4.svg), default; }
  }

  &--next {
    right: 0;

    &:hover { cursor: url(../images/arrows/arrow-4.svg), default; }
  }
}