.load {
  .js & {
    transform: translateY(2rem) translateZ(0);
    opacity: 0;
    transition: none;
  }

  .is-loaded & {
    transform: translateY(0) translateZ(0);
    opacity: 1;
  }

  &-1 {
    .is-loaded & {
      transition: opacity #{$page-transition - 0.1}s ease #{$page-transition}s,
                  transform #{$page-transition}s cubic-bezier(0.46, 0.88, 0.43, 1.41) #{$page-transition}s;
    }
  }

  &-2 {
    .is-loaded & {
      transition: opacity #{$page-transition - 0.1}s ease #{$page-transition + 0.2}s,
                  transform #{$page-transition}s cubic-bezier(0.46, 0.88, 0.43, 1.41) #{$page-transition + 0.2}s;
    }
  }
}