{% from 'macros/helpers.html' import sprite %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <link rel="stylesheet" href="stylesheets/app.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:url" content="http://mybrokenface.com/" />
    <meta property="og:type" content="books.book" />
    <meta property="og:title" content="Reflections from a broken face" />
    <meta property="og:description" content="On Sunday 25th September 2016, I broke my face. The following pages are some random thoughts I had during my recovery." />
    <meta property="og:image" content="http://mybrokenface.com/images/reflections-from-a-broken-face.png" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@kahui">
    <meta name="twitter:creator" content="@kahui">
    <meta name="twitter:title" content="Reflections from a broken face">
    <meta name="twitter:description" content="On Sunday 25th September 2016, I broke my face. The following pages are some random thoughts I had during my recovery.">
    <meta name="twitter:image" content="http://mybrokenface.com/images/reflections-from-a-broken-face.png">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <script src="https://use.typekit.net/scg4hmv.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    {% block head %}{% endblock %}
  </head>
  <body class="no-js">
    <script>document.body.className = "js";</script>

    {% block content %}{% endblock %}
    {% block javascript %}<script src="javascripts/app.js"></script>{% endblock %}
  </body>
</html>
