.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: 1em;
  overflow-y: scroll;

  .js & {
    position: absolute;
    top: 0;
    left: 0;

    &.is-active {
      position: relative;
    }
  }

  &__intro {
    max-width: em(600);
    text-align: left;

    > * + * {
      margin-top: 1em;
    }

    > * {
      font-size: em(18);
      font-weight: $fw-semibold;

      @include media($medium-screen-up) {
        font-size: em(23);
      }
    }
  }

  &--main {
    > * + * {
      margin-top: 2em;
    }
  }

  &__text {
    @include rem(max-width, 460);
    font-size: em(18);
    font-weight: $fw-semibold;

    @include media($medium-screen-up) {
      font-size: em(23);
    }
  }

  &__img-container {
    display: block;
    width: 100%;
  }

  &__img {
    max-width: 50%;
  }

  strong {
    color: $maroon;
  }
}