.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: auto;

  .js & {
    display: none;
    height: auto;
    min-height: 100vh;

    &.is-active {
      display: flex;
      opacity: 1;
    }
  }

  &__intro {
    max-width: em(600);
    padding: 1em;
    text-align: left;

    > * + * {
      margin-top: 1em;
    }

    > * {
      font-size: em(18);
      font-weight: $fw-semibold;

      @include media($medium-screen-up) {
        font-size: em(23);
      }
    }
  }

  &__text {
    @include rem(padding, 16);
    @include rem(max-width, 460);
    font-size: em(18);
    font-weight: $fw-semibold;

    @include media($medium-screen-up) {
      font-size: em(23);
    }
  }

  &__img-container {
    display: block;
    width: 100%;
    padding: 1em;
  }

  &__img {
    max-width: 50%;
    transition: all 0.7s ease;
  }

  strong {
    color: $maroon;
  }
}